@page
@model Week11_MyShowList_RequestMyApi.Pages.UserShowsList.IndexModel
@{
    ViewData["Picture"] = Model.Request.Cookies["LoggedUserPicture"];
}


<h1 class="text-center fw-bold text-warning my-5"><i class="bi bi-star-fill"></i> My Shows <i class="bi bi-star-fill"></i></h1>

<div class="d-flex flex-row-reverse">


    <table class="table table-dark align-middle">
        <thead>
            <tr>
                <th>Rating</th>
                <th>Progress</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyShows)
            {
                <tr>
                    <td>@item.Rating</td>
                    <td>@item.Progress</td>
                    <td>@item.Comment</td>
                    <td>
                        <a asp-page="/UserShowsList/Edit" asp-route-id="@item.Id" class="btn btn-outline-warning mx-2"><i class="bi bi-pencil-square"></i></a>
                        <a asp-page="/UserShowsList/Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-x-circle-fill"></i></a>
                        
                
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <table class="table table-dark align-middle">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Shows)
            {
                <tr>
                    <td><img src=@item.Picture alt="Imagine of show" /></td>
                    <td>@item.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>